.footer {
  width: 100%;
  height: 150px;
  color: #fff;
  background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
}
.footer_bottom {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}